<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chencc.androidstudynotescode">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>





    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 插件化换肤 -->
        <activity android:name=".skin.SkinTestActivity" />
        <!-- 自定义二级联动列表 处理滑动 -->
        <activity android:name=".nestedscroll.NestedScrollActivity" />
        <activity android:name=".nestedscroll.NestedViewPagerActivityTest1" />
        <activity android:name=".nestedscroll.NestedViewPagerActivityTest2" />
        <activity android:name=".nestedscroll.NestedViewPagerActivityTest3" />
        <activity android:name=".nestedscroll.NestedViewPagerActivity" />
        <!-- 事件分发  滑动冲突 -->
        <activity android:name=".view_dispatch.ViewDispatchActivity" />
        <activity android:name=".view_dispatch.RecyclerViewViewPagerActivity" />
        <activity android:name=".view_dispatch.SwipeRefreshViewPagerActivity" />
        <!-- 文字绘制 -->
        <activity android:name=".draw_text.DrawTextActivity" />
        <activity android:name=".draw_text.AssistLineActivity" />
        <activity android:name=".draw_text.TextMeasureActivity" />
        <activity android:name=".draw_text.ColorChangeActivity" />
        <!-- 自定义view -->
        <activity android:name=".customview.CustomViewActivity" />
        <!-- viewpager测试 -->
        <activity android:name=".customview.viewpager.TestViewPagerActivity" />
        <!-- FlowLayout 流式布局 -->
        <activity android:name=".customview.flowLayout.TestFlowActivity" />
        <!-- 灵动的锦鲤  自定义drawable -->
        <activity android:name=".customview.fishview.FishActivity" />
        <!-- Decoration 练习 -->
        <activity android:name=".customview.decoration.DecorationActivity" />
        <!-- 自定义LayoutManager 滑动卡片布局 练习 -->
        <activity android:name=".customview.layoutManager.SlideCardActivity" />
        <!--MultiTouchEvent-->
        <activity android:name=".customview.photoView.MultiTouchEventActivity" />
        <!--PhotoView-->
        <activity android:name=".customview.photoView.PhotoViewActivity" />
        <!-- 懒加载fragment   ViewPager1 -->
        <activity android:name=".lazyfragment.LazyFragmentActivity" />
        <!--ConstraintLayoutActivity-->
        <activity android:name=".materialdesign.constraintlayout.ConstraintLayoutActivity" />
        <!--CircularRevealHelperActivity-->
        <activity android:name=".materialdesign.constraintlayout.CircularRevealHelperActivity" />
        <!--Flow-->
        <activity android:name=".materialdesign.constraintlayout.FlowConstraintActivity" />
        <!--Layer-->
        <activity android:name=".materialdesign.constraintlayout.LayerConstraintActivity" />

        <!-- ViewPager1 -->
        <activity android:name=".lazyfragment.LazyFragment1Activity" />
        <!-- MaterialDesign 练习 -->
        <activity android:name=".materialdesign.MaterialDesignActivity" />


        <!-- CoordinatorLayout 练习 -->
        <activity
            android:name=".materialdesign.coordinator.CoordinatorLayoutActivity"
            android:theme="@style/TranslucentTheme" />
        <!-- CoordinatorLayout  -->
        <activity
            android:name=".materialdesign.coordinator.CoordinatorActivity"
            android:theme="@style/TranslucentTheme" />
        <!-- behavior 跟随 变色-->
        <activity
            android:name=".materialdesign.coordinator.Behavior1Activity"
            android:theme="@style/TranslucentTheme" />
        <!--Behavior的嵌套滑动展示-->
        <activity
            android:name=".materialdesign.coordinator.Behavior2Activity"
            android:theme="@style/TranslucentTheme" />




        <!-- Toolbar 练习 -->
        <activity
            android:name=".materialdesign.toolbar.ToolbarActivity"
            android:theme="@style/TranslucentTheme" />
        <!-- ViewPager2练习 -->
        <activity
            android:name=".materialdesign.viewpager2.ViewPager2Activity"
            android:theme="@style/TranslucentTheme" />
        <!-- CardView -->
        <activity android:name=".materialdesign.cardview.CardViewActivity" />
        <!-- BottomAppBar -->
        <activity
            android:name=".materialdesign.bottomappbar.BottomAppBarActivity"
            android:theme="@style/MaterialAppTheme" />
        <!-- BottomSheets -->
        <activity
            android:name=".materialdesign.bottomsheets.BottomSheetsActivity"
            android:theme="@style/MaterialAppTheme" />

        <!-- Chips  EidtText -->
        <activity
            android:name=".materialdesign.chips.ChipsActivity"
            android:theme="@style/MaterialAppTheme" />
        <!-- FloatActionButton -->
        <activity
            android:name=".materialdesign.floatingactionbutton.FloatActionButtonActivity"
            android:theme="@style/MaterialAppTheme" />
        <!--DrawerLayout-->
        <activity
            android:name=".materialdesign.drawer.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:theme="@style/TranslucentTheme"></activity>

        <!--MaterialButton-->
        <activity android:name=".materialdesign.materialbutton.MaterialButtonActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>

        <!--MaterialText-->
        <activity android:name=".materialdesign.materialtext.MaterialTextActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>

        <!--Navigation-->
        <activity android:name=".materialdesign.navigation.NavigationActivity"
            android:theme="@style/TranslucentTheme"/>

        <!--Snackbar-->
        <activity android:name=".materialdesign.snackbar.SnackbarActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>

        <!--TabLayout-->
        <activity android:name=".materialdesign.tab.TabActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>

        <!--NestScroll-->
        <activity android:name=".materialdesign.nestedscroll.NestScrollActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>
        <!--NestedTradition-->
        <activity android:name="com.chencc.androidstudynotescode.materialdesign.nestedscroll.tradition.NestedTraditionActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>
        <!--NestedScrolling1-->
        <activity android:name="com.chencc.androidstudynotescode.materialdesign.nestedscroll.nestedscrolling.NestedScrolling1Activity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>

        <!--mmap读写文件测试-->
         <activity android:name="com.chencc.androidstudynotescode.binder.mmap.MmapTestActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>
        <!--binder原理测试-->
        <activity android:name="com.chencc.androidstudynotescode.binder.binder.client.ClientActivity"
            android:theme="@style/MaterialAppTheme_NoActionBar"/>
        <!--activity hook测试-->
        <activity android:name=".hook.activityhook.MainHookActivity"/>
        <!--hook 测试占位activity-->
        <activity android:name=".hook.activityhook.StubActivity"/>
        <!--mvvm-->
        <activity android:name=".mvvm.view.JingziqiActivity"/>
        <!--ActivityResult-->
        <activity android:name=".androidapi.ActivityResultTestActivity"/>
        <activity android:name=".androidapi.ActivityResultSecondTestActivity"/>

        <activity android:name=".utils.battery.BatteryActivity"/>






        <service
            android:name=".binder.binder.server.RemoteService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.chencc.androidstudynotescode.binder.binder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chencc.androidstudynotescode.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>